.signup {
  margin-top: auto; }

#div_top_hypers {
  display: inline; }

#ul_top_hypers li {
  display: inline; }

body {
  font-size: 20px; }

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; }

a {
  width: 100%;
  background-color: deepskyblue;
  color: white;
  padding: 4px 10px;
  margin-bottom: 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer; }

* {
  text-align: center;
  margin-bottom: 10px;
  font-family: Georgia, serif; }

label {
  display: inline-block; }
