#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers th {
  margin-top: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: deepskyblue;
  color: white;
}

$width: 100%;

#div_top_hypers {
  background-color: white;
  display: inline;
  text-align: center;
}

#ul_top_hypers li {
  display: inline;
}

.article {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

ul {
  list-style-type: none
}

body {
  font-size: 20px;
}

input {
  width: $width;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

a {
  width: $width;
  background-color: deepskyblue;
  color: white;
  padding: 4px 10px;
  margin-bottom: 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


* {
  margin-bottom: 5px;
  font-family: Georgia, serif;
}

label {
  display: inline-block;
}