.input {
    border: none;
    background: none;
    box-shadow: 0 2px 0 0 white;
    width: 100%;
    color: white;
    font-size: 1em;
    outline: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

.input::placeholder {
    color: #D3D3D3;
}